PTransE/data/confidence.better.txt
PTransE/data/confidence.og.txt
PTransE/data/path2.better.txt
PTransE/data/path2.og.txt
PTransE/data/test_pra.better.txt
PTransE/data/test_pra.og.txt
PTransE/data/train_pra.better.txt
PTransE/data/train_pra.og.txt
PTransE/pcra.better.err
PTransE/pcra.better.log
PTransE/pcra.og.err
PTransE/pcra.og.log

PTransE/data/train_pra.txt
PTransE/data/train_pra.txt.zip
PTransE/data/confidence.txt
PTransE/data/test_pra.txt
PTransE/data/path2.txt
PTransE/doc2vec_transformation/paths_from_pcra_train.log

PTransE/PTransE_add/*

PTransE/PTransE_add/Test_TransE_path
PTransE/PTransE_add/Train_TransE_path
PTransE/data/e1_e2.txt
.idea
*/.idea
*.idea
*.DS_Store
*/.DS_Store
.DS_Store
